#glassmorphism {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(3px);
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.top-section {
    display: flex;
    gap: 32px;
    margin-left: 30px;
    margin-right: 30px;
}

.about-left {
    flex: 1;
    min-width: 250px;
    margin-right: 16px;
}

.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.journey, .skills {
    flex: 1;
}
body {
    background-image: url("3312580.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.contact-container {
    margin-top: 50px;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
